.card-footer{
    background-color:white;
}
.card.m-1.p-2.selected *{
    background-color:#EFDCF9;
    color: green;
  }
.card.m-1.p-2.conflicted{
  color: lightgrey;
  pointer-events: none;
}
.card-title{
  width: 100%;
}
.card-title a{
  float:right;
}